title: Systems Thinking on Apple Silicon

url: "https://mercurial-hermes.github.io"
baseurl: "/systems-thinking-on-apple-silicon"

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false

permalink: pretty
